body {
    margin: 0;
}
.header {
    width: auto;
    display: flex;
    background-color: skyblue;
}
.logo img {
    margin-top: 3vh;
    width: 9vw;
    height: 9vh;
    margin-left: 4vw;
    margin-bottom: -10vh;
}
.menu-logo li {
    margin-top: 5vh;
    font-size: 2vw;
    margin-left: 5vw;
}
.right-logo img {
    margin-top: 3vh;
    width: 5vw;
    height: 8vh;
    margin-left: 58vw;
    border-radius: .8vw;
}
.right-small-logo img {
    margin-top: 6vh;
    width: 2vw;
    height: 2vh;
    border-radius: .8vw;
    margin-left: .6vw;
}
.dot {
    font-size: 3vw;
    margin-top: -5vh;
    color: green;
    margin-left: 1vw;
}
.right-drop select {
    margin-top: 5vh;
    margin-left: .2vw;
    font-size: 1.1vw;
}
.section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* position: relative; */
}
.sidebar {
    background-color: antiquewhite;
    padding-bottom: 82vh;
}
.section .sidebar ul,
li,
span {
    list-style-type: none;
    margin-right: 1vw;
    padding-top: 3vh;
}
#dashboard-content,
#dashboard-item {
    color: blue;
    font-weight: bolder;
}
.section-header {
    width: calc(100%-250px);
    /* position: absolute; */
    left: 20vw;
}
.dash {
    font-size: 1.7vw;
}
.section-content {
    display: flex;
    justify-content: space-between;
    margin-right: 2.1vw;
    flex-wrap: wrap;
}
.home-link {
    color: blue;
    font-weight: bolder;
}
.section-header-logo img {
    margin-top: -5vh;
    float: right;
    margin-right: -1vw;
    width: 8vw;
    height: 17vh;
    border-radius: 45vw;
    border: 1px solid black;
}
.section-header-logo1 img {
    margin-top: -5vh;
    float: right;
    margin-right: -1vw;
    width: 8vw;
    height: 17vh;
    border-radius: 45vw;
    border: 1px solid black;
}
.section-header-logo2 img {
    margin-top: -5vh;
    float: right;
    margin-right: -1vw;
    width: 8vw;
    height: 17vh;
    border-radius: 45vw;
    border: 1px solid black;
}
.hr-line {
    width: 82vw;
    margin-left: vw;
}
.section-content-button {
    margin-top: 11vh;
    display: flex;
    justify-content: left;
}
.section-content-button .button {
    margin-bottom: -1.5vh;
    margin-left: 3vw;
}
.section-content-button .button button {
    width: 8vw;
    padding: .5vw;
    border-radius: .5vw;
    border-color: rgba(0, 0, 0, .2);
    border-width: .1vw;
    font-size: .6rem;
}
.section-dropdown {
    display: flex;
    flex-wrap: wrap;
}
.section-dropdown select {
    background-color: white;
    margin-top: 2vh;
    font-size: .8vw;
    border-radius: .5vw;
    padding: .5vw;
    border-color: skyblue;
    width: 7vw;
    margin-left: 1.5vw;
}
.sort-drop-down {
    border: none;
    margin-top: 2vh;
    font-size: .8vw;
    padding: .5vw;
    width: 7vw;
}
.clear-all-filter {
    margin-top: 2vh;
    font-size: .8vw;
    border-radius: .5vw;
    padding: .5vw;
    border-color: skyblue;
    width: 7vw;
    margin-left: 1.5vw;
    border: none;
}
.section-cards {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-cards-box {
    background-color: gainsboro;
    margin-right: 2vw;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 1vw;
}
.section-cards-caption {
    margin-right: -15vw;
    border: 1px black solid;
    font-size: .5rem;
    border-radius: 2vw;
    padding: 1vh;
    margin-left: 5vw;
    background-color: green;
}
.section-cards-caption1 {
    border: 1px black solid;
    font-size: .5rem;
    border-radius: 2vw;
    padding: 1vh;
    margin-left: 10vw;
    background-color: red;
}
.cards-font1 {
    font-size: .8rem;
    margin-left: .8vw;
}
.cards-font {
    font-size: .8rem;
}
#icons {
    border: 1px solid black;
    border-radius: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 5vw;
}
.progress {
    font-size: .8rem;
    text-align: center;
}
.icons-right {
    text-align: center;
    border-radius: 1vw;
    border: 1px solid black;
    font-weight: bold;
    float: right;
}
.icons-line {
    float: right;
}
input[type='button'] {
    width: 18rem;
    padding: .7vw;
    border-radius: 1vw;
    background-color: rgba(27, 155, 234, 0.991);
}
.card-line {
    border: 5px solid red;
    background-color: red;
}
.card-bg1 {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 1.5vh;
    border-radius: 1vw;
}
.card-bg2 {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 1.5vh;
    border-radius: 1vw;
}
.item1 {
    color: blue;
    font-weight: bolder;
}