body
{
    margin:0;
}
header
{
    display: flex;
    justify-content: space-between;
    background-color:rgb(5, 5, 75);
}
.nav-logo li
{
    float: right;
}
.comp-logo
{
    background-repeat: no-repeat;
    background-size: contain;
    width:7%;
    height: 80%;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: -12px;
}
header nav a
{
    margin-top: -12vh;
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
    margin-left: 1vw;
}
header nav
{
    margin-left: 1vw;
}
header nav select
{
    border: none;
    background-color:rgb(5, 5, 75);
    color: white;
    font-size: 1.2vw;
    margin-left: 1vw;
}
#line
{
    color: white;
}
.nav-logo
{
    margin-top: 2%;
    margin-right: 1%;
}
.first-icon , .second-icon , .third-icon ,.fourth-icon
{
    padding-left: 10px;
    color: white;
}
.fourth-icon
{
    font-size: 20px;
}
#logo-line
{
    list-style: none;
    padding-left: 10px;
}
.second-header nav
{
    margin-left: 10%;
    margin-top: 1%;
}
.second-header nav li
{
    padding-right:5px;
    list-style: none;
    float: left;
}
.heading
{
    padding-left: 10%;
    padding-top: 1%;
    clear: both;
    font-size: 30px;
    font-weight:bold;
}
.second-header-line
{
    padding: 2px;
    background-color: rgb(181, 190, 200);
}
section
{
    margin-top:-13px;
    display: flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
}
.sidebar
{
    background-color:brown;
}
.sidebar-content
{
    padding-left: 10%;
}
.list-style
{
    list-style-type: circle;
    font-size: 1.4vw;
}
.section-content
{
    background-color:violet;
}
.list-caption
{
    font-weight: bold;
    font-size: 1.5vw;
}
.anchor-tag
{
    float: right;
}

